@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");

body {
  height: 100vh;
  background-image: linear-gradient(130deg, #1e293b, rgb(131, 0, 131));
  font-family: Arial;
  margin: 0;
  display: flex;
  align-items: start;
  justify-content: center;
}

@media (max-width: 600px) {
  .main-content {
    background-image: linear-gradient(130deg, #1e293b, rgb(131, 0, 131));
    padding: 10px;
    width: 100vw;
    height: 100vh;
  }

  .title {
    color: white;
  }

  .clear-button {
    background-color: black;
  }

  .task-header {
    color: white;
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .main-content {
    background-color: aliceblue;
    width: 400px;
    margin-top: 50px;
    padding: 20px 30px;
    border-radius: 16px;
  }

  .title {
    color: black;
  }

  .clear-button {
    background-color: black;
  }
}

@media (min-width: 992px) {
  .main-content {
    background-color: aliceblue;
    width: 400px;
    margin-top: 50px;
    padding: 20px 30px;
    border-radius: 16px;
  }

  .title {
    color: black;
  }

  .clear-button {
    background-color: black;
  }
}

.title {
  font-family: "Sofadi One";
  font-size: 30px;
}

.input-grid,
.todo-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  margin-bottom: 10px;
}

.input-grid {
  align-items: stretch;
}

.task-header {
  display: flex;
  margin-bottom: 10px;
  font-size: 20px;
}

hr {
  display: inline-block;
  height: 3px;
  width: 35%;
  background-color: gray;
  border: none;
}

.left-hr {
  margin-left: 0;
}

.right-hr {
  margin-right: 0;
}

.name-input {
  font-size: 15px;
  padding: 6px;
}

.add-button {
  background-color: green;
}

.add-button,
.delete-button,
.clear-button {
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: opacity 0.15s;
}

.add-button:hover,
.delete-button:hover,
.clear-button:hover {
  opacity: 0.7;
}

.add-button:active,
.delete-button:active,
.clear-button:active {
  opacity: 0.5;
}

.task-name {
  border: 1px solid black;
  background-color: white;
  height: 37.75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button {
  height: 37.75px;
  background-color: darkred;
}

.clear-button {
  height: 37.75px;
  width: 130px;
  border-radius: 4px;
}
