@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(130deg, #1e293b, rgb(131, 0, 131));
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.todo-app {
  width: clamp(20rem, 35.2vw + 9rem, 31rem);
  padding: 2rem 1rem;
}

.app-name {
  font-family: "Sofadi One";
  margin-bottom: 1rem;
  color: white;
  font-size: 2rem;
}

.input-section {
  background-color: white;
  width: 100%;
  height: 2.3rem;
  border-radius: 1.15rem;
  display: flex;
  margin-bottom: 1rem;
  padding-left: 1rem;
  justify-content: space-between;
}

.input-field {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
}

::placeholder {
  color: black;
}

.add-button {
  background-color: #00a500;
  border: none;
  outline: none;
  font-size: 1rem;
  padding-left: clamp(1.5rem, 1.6vw + 1rem, 2rem);
  padding-right: clamp(1.5rem, 1.6vw + 1rem, 2rem);
  border-radius: 1.15rem;
  transition: opacity 0.15s;
}

.add-button:hover {
  opacity: 0.7;
}

.add-button:active {
  opacity: 0.5;
}

ul li {
  list-style: none;
  font-size: 1rem;
  color: white;
  padding: 0.6rem 3rem 0.6rem 2rem;
  word-wrap: break-word;
  user-select: none;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(./images/unchecked.svg);
  background-size: cover;
  left: 0;
  top: 0.4rem;
}

ul li.checked {
  text-decoration: line-through;
  color: rgb(177, 177, 177);
}

ul li.checked::before {
  background-image: url(./images/checked-green.svg);
}

ul li span {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-image: url(./images/close.svg);
  background-size: cover;
  top: 0.1rem;
  right: 0;
  transition: background-color 0.15s;
}

ul li span:hover {
  background-color: rgb(56, 56, 56);
}
