@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(130deg, #1e293b, rgb(131, 0, 131));
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 700px) {
  .app-name {
    color: white;
  }

  .input-section {
    background-color: white;
  }

  ul li {
    color: white;
  }

  ul li::before {
    background-image: url(./images/unchecked-white.svg);
  }

  ul li span {
    background-image: url(./images/close-white.svg);
  }
}

@media (min-width: 701px) {
  .todo-app {
    background-color: whitesmoke;
  }

  .app-name {
    color: black;
  }

  .input-section {
    background-color: rgb(224, 224, 224);
  }

  ul li {
    color: black;
  }

  ul li::before {
    background-image: url(./images/unchecked-black.svg);
  }

  ul li span {
    background-image: url(./images/close-black.svg);
  }
}

.todo-app {
  width: clamp(20rem, 35.2vw + 9rem, 31rem);
  padding: 2rem 1rem;
  border-radius: 1rem;
}

.app-name {
  font-family: "Sofadi One";
  margin-bottom: 1rem;
  font-size: 2rem;
}

.input-section {
  width: 100%;
  height: 2.3rem;
  border-radius: 1.15rem;
  display: flex;
  margin-bottom: 1rem;
  padding-left: 1rem;
  justify-content: space-between;
}

.input-field {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
}

::placeholder {
  color: black;
}

.add-button {
  background-color: #00a500;
  border: none;
  outline: none;
  font-size: 1rem;
  cursor: pointer;
  padding-left: clamp(1.5rem, 1.6vw + 1rem, 2rem);
  padding-right: clamp(1.5rem, 1.6vw + 1rem, 2rem);
  border-radius: 1.15rem;
  transition: opacity 0.15s;
}

.add-button:hover {
  opacity: 0.7;
}

.add-button:active {
  opacity: 0.5;
}

ul li {
  list-style: none;
  font-size: 1rem;
  padding: 0.6rem 3rem 0.6rem 2rem;
  word-wrap: break-word;
  user-select: none;
  position: relative;
}

ul li::before {
  content: "";
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  left: 0;
  top: 0.4rem;
  cursor: pointer;
}

ul li.checked {
  text-decoration: line-through;
  color: rgb(177, 177, 177);
}

ul li.checked::before {
  background-image: url(./images/checked-green.svg);
}

ul li span {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-size: cover;
  top: 0.1rem;
  right: 0;
  cursor: pointer;
  transition: background-color 0.15s;
}

ul li span:hover {
  background-color: rgba(80, 80, 80, 0.651);
}

ul li p {
  font-size: 14px;
  color: #00a500;
}

ul li p:hover {
  color: #007a00;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.date-input,
.time-input {
  border: 3px solid rgba(0, 0, 0, 0.6);
  border-radius: 6px;
  padding: 5px 10px;
}

.date-input:hover,
.time-input:hover {
  border: 3px solid black;
}

.modal-submit-btn {
  border: none;
  background-color: #1e293b;
  color: rgb(255, 255, 255);
  padding: 8px 12px;
  font-size: 1rem;
  border-radius: 4px;
  transition: opacity 0.15s;
}

.modal-submit-btn:hover {
  opacity: 0.8;
}
